#splash {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
}

.slogan {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 90%;
  place-self: center;
  align-self: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
