* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  /* height: 300px;
  object-fit: cover; */
}

body {
  background-color: #fffef2;
}

h1 {
  margin-top: 1rem;
  margin-left: 2rem;
  text-decoration: underline 1px;
}

h2 {
  margin-top: 0.5rem;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
  margin: 1% 10% 5% 10%;
}
article {
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}

article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  width: 100wv;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: scroll;
  z-index: 2;
}

#popup article {
  width: 86vw;
  padding: 2%;
  object-fit: contain;
  background-color: #fffef3;
}

#popup article img {
  object-fit: contain;
  height: unset;
}
button {
  font-family: "poppins", sans-serif;
  font-size: 12px;
  font-weight: 150;
  letter-spacing: 1px;
  padding: 10px 30px 10px;
  outline: 0;
  border: 0.5px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 1rem;
  width: 120px;
  height: 50px;
}

button::after {
  content: "";
  background-color: #efd77a;
  /* background-image: url(billeder/ostebaggrund.png); */
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  z-index: -2;
}

button:hover::after {
  top: 0px;
  left: 0px;
}

.placerknapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ostegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.5px;
}

#spanbtn1 {
  grid-column: 2 / 3;
}

footer {
  border-top: 1px solid black;
}

@media screen and (max-width: 800px) {
  .placerknapper button {
    width: 90px;
    height: 48px;
    font-size: 10px;
    padding: 7px 20px 7px;
  }
  .placerknapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .ostegrid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
