* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  /* height: 300px;
  object-fit: cover; */
}

body {
  background-color: #fffef2;
}

h1 {
  margin-top: 1rem;
  margin-left: 2rem;
}

h2 {
  margin-top: 0.5rem;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
  margin: 1% 10% 5% 10%;
}
article {
  margin: 2% 2% 18% 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  /* border-radius: 5px; */
  cursor: pointer;
}

article img:hover {
  transform: scale(1.05);
}

article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  width: 100wv;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: scroll;
  z-index: 2;
  place-content: center;
}

#popup article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4%;
  width: 86vw;
  padding: 1% 2% 3% 2%;
  object-fit: contain;
  background-color: #fff8dc;
  place-self: center;
}

#popup article img {
  grid-column: 1/2;
  grid-row: 2/7;
  object-fit: inherit;
}

.lukKnap {
  grid-column: 2/3;
  grid-row: 1/2;
  place-self: flex-end;
  font-size: 3rem;
  margin-bottom: -35px;
}
.navn {
  grid-column: 2/3;
  grid-row: 2/3;
}

.type {
  grid-column: 2/3;
  grid-row: 3/4;
}

.alder {
  grid-column: 2/3;
  grid-row: 4/5;
}

.land {
  grid-column: 2/3;
  grid-row: 5/6;
}

.beskrivelse {
  grid-column: 2/3;
  grid-row: 6/7;
}

.fill {
  font-family: "poppins", sans-serif;
  font-size: 12px;
  font-weight: 150;
  letter-spacing: 1px;
  padding: 10px 30px 10px;
  outline: 0;
  border: 0.5px solid #333;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 1rem;
  width: 120px;
  height: 50px;
}

.fill::after {
  content: "";
  background-color: #efd77a;
  /* background-image: url(billeder/ostebaggrund.png); */
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.valgt {
  background-color: #efd77a;
  top: 0;
  text-decoration: underline 0.5px;
}

.placerknapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ostegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.5px;
}

.spanbtn1 {
  grid-column: 2 / 3;
}

footer {
  border-top: 1px solid #333;
}

@media screen and (max-width: 600px) {
  .placerknapper button {
    width: 90px;
    height: 48px;
    font-size: 9px;
    padding: 7px 20px 7px;
  }
  .placerknapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .ostegrid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .alleknap {
    grid-column: 2 / 4;
  }
  .spanbtn1 {
    grid-column: 1 / 2;
  }

  article {
    margin-bottom: 5%;
  }

  #popup article {
    display: block;
    width: 86vw;
    padding: 1% 2% 3% 2%;
    object-fit: contain;
    background-color: #fffef3;
    place-self: center;
  }

  #popup article p {
    padding: 3% 2%;
  }

  #popup article h3 {
    padding: 1% 2%;
  }
  #popup article h2 {
    text-align: center;
  }
}
