* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  /* height: 300px;
  object-fit: cover; */
}
footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem;
}

h1 {
  font-size: 3.5rem;
  font-family: ltc-bodoni-175, serif;
  font-weight: 300;
  font-style: normal;
}

h2 {
  font-family: "ltc-bodoni-175", serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.somelogo {
  display: flex;
  gap: 10%;
}
.ikoner {
  width: 50px;
  height: 50px;
}

header {
  display: flex;
  justify-content: center;
  padding: 2%;
}

#logo {
  width: 20%;
}

#bmenu {
  position: fixed;
  top: 0%;
  right: 0%;
}

#menu {
  height: 100%;
  position: fixed;
  width: 250px;
  top: 0;
  right: 0%;
  position: absolute;
  background-color: #d9923bbb;
}

/* burgermenu */
.toggle-btn {
  display: none;
}

.toggle-btn {
  background: transparent;
  color: #572723;
  border: none;
  display: block;
  min-width: 50px;
  min-height: 40px;
  font-size: 2rem;
  cursor: pointer;
}

nav {
  display: none;
}

nav.shown {
  font-size: 1.5rem;
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

nav ul {
  display: flex;
  flex-flow: column;
  list-style: none;

  margin: 0;
  padding: 0;
}

nav ul a {
  color: beige;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

footer p {
  font-size: 1rem;
}

.bekraeft_knap {
  /* border: none; */
  background-color: #fffef2;
  color: black;
  border-radius: 5px;
  text-align: center;
  padding: 2%;
}

h4 {
  padding-bottom: 1rem;
}

.mail {
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 2rem;
    gap: 20px;
  }
  .bekraeft_knap {
    /* border: none; */
    background-color: #fffef2;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 1%;
  }
}
