* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  /* height: 300px;
  object-fit: cover; */
}
footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

.somelogo {
  display: flex;
  gap: 10%;
}
.ikoner {
  width: 50px;
  height: 50px;
}

header {
  top: 0;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.logo {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 200px;
}
#bmenu {
  place-self: center;
  width: 50px;
  height: 40px;
  margin-right: 4%;
}

/* burgermenu */
.toggle-btn {
  display: none;
}

.toggle-btn {
  background: transparent;
  color: #572723;
  border: none;
  display: block;
  min-width: 50px;
  min-height: 40px;
  font-size: 2rem;
  cursor: pointer;
}

nav {
  display: none;
}

nav.shown {
  font-size: 1.5rem;
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

nav ul {
  display: flex;
  flex-flow: column;
}
